#jinja2: trim_blocks:False
{
  admin off
}

{% for site in caddy_sites %}
{{ site.domain }} {
  {%- if site.useragent_blocklist is defined %}
  @badbots {
    {%- for ua in site.useragent_blocklist %}
    header User-Agent {{ ua }}
    {%- endfor %}
  }

  handle @badbots {
      respond 403 {
          body "Access forbidden."
      }
  }

  {%- endif %}

  {%- if site.allowlist is defined %}
  @allowlist {
    remote_ip {% for ip in site.allowlist %} {{ ip }}{% endfor %}
  }

  @not_allowlist {
    not remote_ip {% for ip in site.allowlist %} {{ ip }}{% endfor %}
  }
  {% endif %}

  {%- if site.additional_template_path is defined %}
  {% include site.additional_template_path %}
  {%- endif %}

  {%- if site.redirects is defined %}
  {%- for redir in site.redirects %}
  redir {% if redir.source is defined and redir.source %}{{ redir.source }} {% endif %}{{ redir.target }}{% if redir.code is defined and redir.code%} {{ redir.code }}{% else %} permanent{% endif %}
  {%- endfor %}
  {%- endif %}

  {%- for route in site.routes %}
  {% if route.strip_prefix is defined and route.strip_prefix %}
  handle_path {{ route.path }} {
  {%- else %}
  handle {{ route.path }} {
  {%- endif %}
    {%- if site.allowlist is defined and not (route.ignore_allowlist| default(false)) %}
    reverse_proxy @allowlist {{ route.reverse_proxy_destination }}{%- if site.tls_insecure%} {
      transport http {
          tls_insecure_skip_verify
      }
    }{%- endif %}
    respond @not_allowlist 404
    {%- else %}
    reverse_proxy {{ route.reverse_proxy_destination }}{%- if site.tls_insecure%} {
      transport http {
          tls_insecure_skip_verify
      }
    }{%- endif %}
    {%- endif %}
  }
  {%- endfor %}
  
  {% if site.certificate_file is defined %}
  tls {{ site.certificate_file }} {{ site.certificate_key }}
  {%- endif %}

  {% if site.default_response_code is defined %}
  respond {{ site.default_response_code }}
  {%- endif %}
}

{% if (site.additional_forwarding_ports is defined) and (site.additional_forwarding_ports | length > 0) %}
{{ (["http://"] | product([site.domain]) | map("join")) | product(site.additional_forwarding_ports) | map("join", ":") | join(", ") }} {
  redir http://{{ site.domain }}{uri} permanent
}
{%- endif %}

{% endfor %}
