#jinja2: trim_blocks:False
{
  admin off
}

{% for site in caddy_sites %}
{{ site.domain }} {
  {% if site.allowlist is defined %}
  @allowlist {
    remote_ip {%- for ip in site.allowlist %} {{ ip }}{% endfor %}
  }

  @not_allowlist {
    not remote_ip {%- for ip in site.allowlist %} {{ ip }}{% endfor %}
  }

  reverse_proxy @allowlist {{ site.reverse_proxy }}
  respond @not_allowlist 404
  {% else %}
  reverse_proxy {{ site.reverse_proxy }}
  {% endif %}
  {% if site.certificate_file is defined %}
  tls {{ site.certificate_file }} {{ site.certificate_key }}
  {% endif %}
}
{% endfor %}
